<script id="doggie-template" type="text/x-handlebars-template">
	<div class="dog-description">
		<h2>Dog</h2>
		<ul>
			<li>name: {{name}}</li>
			<li>breed: {{breed}}</li>
			<li>gender: <img src="/tst/img/gender-{{#if isMale}}m{{else}}f{{/if}}.png" /></li>
			<li>coloration: {{coloration}}</li>
		</ul>
	</div>
</script>